{% extends "bootstrap/base.html" %}
{% block title %}MapleZ{% endblock %}

{% block head %}
{{ super() }}
{#<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">#}
{#<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">#}
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MapleZ</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/post">Post</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_pw') }}">change password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('auth.logout') }}" >Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Login</a> </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

</div>

{% endblock %}

{% block content %}
<div class="container">
<!--message-->
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endfor %}

    <div class="row">
        <main class="col-md-8">

        {% block page_content %}{% endblock %}

        </main>
        <aside class="col-md-4">

        {% block info %}{% endblock %}

        </aside>
    </div>
</div>

<footer></footer>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="https://cdn.bootcss.com/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js"></script>
<script>
$('#tokenfield').tokenfield({
  autocomplete: {
    source: ['red','blue','green','yellow','violet','brown','purple','black','white'],
    delay: 100
  },
  showAutocompleteOnFocus: true
})
</script>
{% endblock %}